# Compiled source
*.pyc

# SQLite 
*.sqlite3
*.sqlite

# vim temp files
.*.swp

# backup folder
bak/
*.bak
result/
tmp/
log/
md5/
env/
bak.env/
proj/settings.py
proj/pred/app/formatdb.log
proj/pred/app/logs/

.env


proj/pred/app/soft/PRODRES
proj/pred/app/soft/blast/
proj/pred/app/soft/blastdb
proj/pred/app/soft/proq3
proj/pred/app/soft/scampi2
proj/pred/app/soft/topcons2_webserver
