spyne==2.13.2-alpha
requests==2.20.1
mod-wsgi==4.6.5
Django==2.2.18

django-eztables

pyyaml==5.4
pysqlite==2.8.3
lxml==4.6.2
suds==0.4

django.js==0.8.1

biopython==1.73
numpy==1.16.5
scipy==1.2.0
matplotlib==2.2.3

pytz==2018.5
python-dateutil==2.7.3

python-geoip==1.2
python-geoip-geolite2==2015.0303
pycountry==18.5.26

tabulate==0.8.3

