{% extends "pred/base_layout.html" %}

{%block content_right_panel %}
    {% if username %}
      {% include "pred/user_header.html" %}
    {% endif %}
   <h2>Example results</h2>

   <p>
   <a href="/pred/result/example_oneseq_psiblast">The result page of an example job with a single sequence using psiblast as the second search method</a>
   </p>

   <p>
   <a href="/pred/result/example_oneseq_jackhmmer">The result page of an example job with a single sequence using jackhmmer as the second search method</a>
   </p>

   <p>
   <a href="/pred/result/example_multiseq_psiblast">The result page of an example job with multiple sequences using psiblast as the second search method </a>
   </p>

   <p>
   <a href="/pred/result/example_multiseq_jackhmmer">The result page of an example job with multiple sequences using jackhmmer as the second search method </a>
   </p>

   <p>
   A snapshot of a running job with multiple sequences using psiblast as the second search method:
   <a href="{{STATIC_URL}}images/example_multiseq_psiblast_snapshot.png"><img src="{{STATIC_URL}}images/example_multiseq_psiblast_snapshot.thumb.png" alt="snapshot of example with multi-seqs" style="border: none; height: 50;"></a>
   </p>

{% endblock %}

